.Viewport{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
}

.ViewHelper{
  position:absolute;
  right: 0px;
  bottom: 0px;
  height: 128px;
  width: 128px;
}